.Nav {
  display: flex;
  height: 100%;
}

.Nav .navbar-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 0px 20px;
  color: rgb(137, 135, 135);
  border: black solid 2px;
}

.Nav .navbar-button:hover {
  cursor: pointer;
  color: white;
  color: white;
  border-bottom: white 5px solid;
}

.Nav .navbar-button.active {
  color: white;
  border-bottom: white 5px solid;
}